.contenedor h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
}

.contenedor div {
  background-color: antiquewhite;
}
Navbar.Brand{
  color: red;
}
.Nav.Link {
  color:brown

}